body    {
    background-image: url("images/background.jpg");
    font-size: 25px;
    font-weight: 500;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.container  {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.ath    {
    margin: 10px;
    padding: 10px;
    width: auto;
    background: yellowgreen;
    color: black;
    font-weight: 500;
    border-radius: 10px;
}
.jumbotron  {
    background-image: url("images/banner.jpg");
    text-align: center;

}
#giphy-form   {
    border: 2px solid black;
    height: auto;
    background: rgb(223, 216, 216);
    align-content: center;
    padding: 10px;
      
    
}
#ath-add    {
    background:black;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
    font-size: 75px;
    color: yellow;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
label{
    color: #376e6f;
}